[Unit]
Description=dinaip - DDNS service by Dinahosting
After=network-online.target
Wants=network-online.target
 
[Service]
EnvironmentFile=/etc/dinaip
Type=forking
ExecStartPre=-/bin/sleep 10
ExecStart=/usr/bin/dinaip -u ${DINAIP_USER} -p ${DINAIP_PASSWD}
ExecStop=/usr/bin/dinaip -d
PIDFile=/run/dinaip.pid
Restart=on-failure
 
[Install]
WantedBy=multi-user.target
