# This is development/testing only mock profile, not exactly the same as
# is used on copr builders;  but it is basically similar.  If you need an
# exact mock configuration (because you e.g. try to reproduce failed
# build), such configuration is put alongside the built RPMs.

include('/etc/mock/fedora-rawhide-x86_64.cfg')

config_opts['root'] = 'iucar-posit-dev_fedora-rawhide-x86_64'
config_opts['isolation'] = 'unchanged'

config_opts['dnf.conf'] += """

[copr_base]
name="Copr repository"
baseurl=https://download.copr.fedorainfracloud.org/results/iucar/posit-dev/fedora-rawhide-x86_64/
gpgcheck=0
enabled=1
skip_if_unavailable=1
metadata_expire=0
cost=1
best=1
"""
